body {
    margin: 0 auto;
    /*padding: 45px 25px;*/
    font: 'Open Sans';
    background-image: url('https://dl.dropboxusercontent.com/s/a0cjncfpwx4wcx0/default.jpg?dl=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p {
    font-size: 1.5em;
    position: relative;
    left: 2em;
}

.header {
    position: relative;
    color: #263B20;
    font-size: x-large;
    background-color: #698348;
    opacity: .80;
    /*border-bottom: 5px solid #e6e7ec;*/
    /*border-bottom-left-radius: .5em;*/
    /*border-bottom-right-radius: .5em;*/
    padding: 2em 3em 3em 3em;
}

footer {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
}

*#icon {
    position: absolute;
    z-index:5;
    left: 50%;
    top: 20%;
}

a {
    color: #58a48c;
}

a:hover {
    color: #7fcd97
}

#container {
    color: #464D54;
    background: #DBD7D7;
    display: block;
    width: 40%;
    margin: 48px auto;
    min-height: 300px;
    padding: 24px;
    border-radius: 4px;
    opacity: .75;
}

.center-text {
    text-align: center;
}

#icon {
    position: relative;
    left: -10px;
}